html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 250px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid #000;
  background: #fff;
  background-size: cover; }
  #mainContent div, #mainContent img {
    position: absolute; }

path {
  fill: #000;
  stroke: #000000;
  stroke-miterlimit: 10; }

#evolution2,
#evolution3,
#evolution4 {
  visibility: hidden; }

#patch {
  width: 300px;
  height: 50px;
  background: #000;
  top: 224px; }
