@import '_settings';
@import '_config';

body {
    margin: 0;
    padding: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    width: $width;
    height: $height;
    cursor: pointer;
    transform: rotate(0deg);
    border: 1px solid $black;
    background: $white ;
    
    background-size:cover;
    div,img{
        position: absolute;
    }
}
path {fill:#000;stroke:#000000;stroke-miterlimit:10;}

#evolution2,
#evolution3,
#evolution4 {
    visibility: hidden;
}
#patch {
    width: $width;
    height: 50px;
    background: #000;
    top: 224px;
}